[package]
name = "reth"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# reth
reth.workspace = true
reth-node-builder.workspace = true
reth-node-ethereum.workspace = true

# misc
clap.workspace = true
eyre.workspace = true
