[workspace.package]
rust-version = "1.83.0"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["crates/ress", "crates/subprotocol", "bin/ress", "bin/reth"]

[workspace.dependencies]
ress-core = { path = "crates/ress" }
ress-subprotocol = { path = "crates/subprotocol" }

clap = { version = "4.4", features = ["derive"] }
tokio = { version = "1.39", features = ["full"] }
tokio-stream = "0.1.11"
futures = "0.3"
eyre = "0.6"
rand = "0.8.5"
tracing = "0.1.0"
tracing-subscriber = "0.3"
rayon = "1.8"
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3"
jsonrpsee-core = "0.24"
parking_lot = "0.12"
assert_matches = "1.5.0"

reth-eth-wire = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-trie = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-provider = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e", features = [
    "test-utils",
] }
reth-network = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-network-api = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-payload-builder = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e", features = [
    "test-utils",
] }
reth = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-rpc-engine-api = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-rpc-layer = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-rpc-types-compat = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-consensus-debug-client = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-tokio-util = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth", rev = "ef033abaf9105f167a778e00411e005ba9a0271e" }
alloy-primitives = { version = "0.8.11", default-features = false }
alloy-eips = { version = "0.8.1", default-features = false }
alloy-rpc-types-eth = { version = "0.8.1", default-features = false }
alloy-serde = { version = "0.8.1", default-features = false }
